/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
body {-webkit-text-size-adjust:none;overflow-y: auto;} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family: 'Noto Sans KR', 'Roboto', sans-serif;color:#2b2b2b} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
* {box-sizing:border-box;}
body {height:100vh;}

.user-data {
  position:relative;
  height: calc(100vh - 70px);
  dl {
    position:absolute;
    top:50%;
    left:50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding:20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    dt {
      h3 {
        font-size: 25px;
        font-weight: 400;
      }
    }
    dd {
      margin-top: 5vw;
      .mbsc-ios .mbsc-sc-itm {
        font-size: 15px!important;
      }
    }
  }
  .ps {
    margin-top: 20px;
    padding: 10px;
    ul {
      li {
        font-size: 12px;
        font-weight: 100;
        color: #222;
        padding-left: 10px;
        text-indent: -10px;
        em {
          font-weight: 400;
          color: #e25c66;
        }
        &:before {
          content: '\b7\a0';
        }
      }
    }
  }
}
.user-data-btn {
  width: 100%;
  height:70px;
  position: absolute;
  bottom: 0;
  padding: 10px;
  button {
    width: 65%;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background-color: #e25c66;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #e25c66;
    &:first-child {
      width: calc(35% - 20px);
      margin-right: 20px;
      background-color: #fff;
      color: #e25c66;
      box-shadow: 0px 0px 10px #ccc;
    }
    &:disabled {
      background-color: #ccc;
      box-shadow: 0px 0px 10px #ccc;
      color: #fff;
    }
  }
}

.aptTable{
  table-layout:fixed;
  width:100%;
  text-align: center;
  vertical-align: middle;
  .type {
    td {
      font-size: 12px;
      background-color: #f1f1f1;
    }
    .thubm {
      position: relative;
      color: #fff;
      font-size: 1.8em;
      font-weight: 800;
    }
    .tit {
      font-size: 1.2em;
      border-bottom: 1px solid #ebebeb;
    }
  }
  .score {
    background-color: #f5f5f5;
    td {
      font-size: 0.8em;
      font-weight: 800;
      padding: 5px 0;
      .score {
        font-size: 1em;
        font-weight: 900;
      }
      &.opt {
        text-align: left;
      }
      .error {
        font-size: 1em;
        color: red;
      }
      .ranking1, .ranking2, .area, .first {
        font-size: 0.3em;
        padding: 2px 10px;
        background-color: #ccc;
        border-radius: 10px;
        margin-right: 2px;
      }
      .ranking1 {
        background-color: #00539C;
        color: #FCF6F5;
      }
      .ranking2 {
        background-color: #6A7BA2;
        color: #FCF6F5;
      }
      .area {
        background-color:#2BAE66;
        color: #FCF6F5;
      }
      .first {
        background-color: #333D79;
        color: #FCF6F5;
      }
    }
  }
}
